{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
{# bootstrap2 #}
<script src="{% static 'web_libraries/bootstrap2/bs-init.js' %}"></script>
{#<script src="{% static 'bootstrap2/smart-forms.min.js' %}"></script>#}
<script src="{% static 'web_libraries/bootstrap2/bs-animation.js' %}"></script>
{# components #}
<script src="{% static 'js/general/ts-accordion.js' %}"></script>
<script src="{% static 'js/general/ts-app.js' %}"></script>
<script src="{% static 'js/general/ts-file.js' %}"></script>
<script src="{% static 'js/general/ts-multilevel-dropdown.js' %}"></script>
<script src="{% static 'js/general/ts-sidebar.js' %}"></script>
<script src="{% static 'js/general/ts-sliders.js' %}"></script>
