<div>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand"
               href="{% url 'ts_info:' %}">
                data application
            </a>
            <button data-toggle="collapse"
                    class="navbar-toggler"
                    data-target="#navcol-2">
                <span class="sr-only">
                    Toggle navigation
                </span>
                <span class="navbar-toggler-icon">
            </span>
            </button>
            <div class="collapse navbar-collapse"
                 id="navcol-2">
                <ul class="nav navbar-nav">
                    {% include 'base/general/navbar-links.html' %}
                </ul>
            </div>
        </div>
    </nav>
</div>
