{% extends 'base.html' %}
{% block body %}
    {% load static %}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>VectorFlux | Terms of Service</title>
        <meta name="description" content="VectorFlux Terms of Service. By using our services you agree to these terms.">
        {% include 'css.html' %}
    </head>
    <body style="background-image: url(&quot;../assets/img/legal/credits/background-credits.jpg&quot;);background-size: contain;">
    <nav class="navbar navbar-default navbar-fixed-top"
         style="background-size: cover;background-image: url(&quot;{% static 'img/navbar.jpg' %}&quot;);padding-top: 10px;padding-bottom: 10px;width: 100%;">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand"
                                          style="width: 82px;padding-right: 0px;padding-left: 0px;margin-left: 0px;"
                                          href="{% url 'home' %}"><img class="logo"
                                                                       src="{% static 'img/logo-no-text.png' %}"></a>
                <button data-toggle="collapse" class="navbar-toggle collapsed" data-target="#navcol-1"><span
                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div
                    class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav"
                    style="padding: 0px 40px;margin-top: 7px;margin-bottom: -20px;margin-left: -30px;">
                    <li role="presentation"><a id="navbar-company-name" class="navbar-company-name"
                                               href="{% url 'home' %}"
                                               style="padding-right: 1.5rem;padding-bottom: 1rem;padding-top: 1rem;">VectorFlux</a>
                    </li>
                    <li role="presentation"><a
                            style="padding-left: 0px;margin-left: -10px;font-size: var(--navbar-subtitle-font-size);padding-top: calc(var(--navbar-name-font-size) - var(--navbar-subtitle-font-size));padding-bottom: 0px;padding-right: 0px;"
                            href="{% url 'home' %}">Sound Design</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="margin-right: 0px;">
                    <li role="presentation"><a class="navbar-link" href="{% url 'order:form' %}"
                                               style="margin-top: 1rem;">Place Order</a></li>
                    <li role="presentation"><a class="navbar-link" href="{% url 'info:services' %}"
                                               style="margin-top: 1rem;">Services</a></li>
                    <li role="presentation"><a class="navbar-link" href="{% url 'info:portfolio' %}">Portfolio</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="article-clean" style="background-color: rgba(255,243,243,0.9);height: 100%;width: 100%;">
        <div class="container" style="height: 100%;width: 100%;">
            <div class="row" style="height: 100%;">
                <div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1" id="id_terms_text"
                     style="height: 100%;">
                    <div class="intro" style="height: 100%;"><img class="img-responsive" style="margin: auto;"
                                                                  src="{% static 'img/logo-no-text.png' %}">
                        <h1 class="text-center primary-heading">Credits</h1>
                    </div>
                    <div class="text" style="height: 100%;">
                        <h2 class="secondary-heading">Artwork<br></h2>
                        <p class="secondary-paragraph"><a href="https://www.freepik.com/free-photos-vectors/background">Background
                            photos, background vectors, banner vectors, business card vectors, pattern vectors, and
                            flower vectors created by rawpixel.com, starline, vilmosvarga, kotkoa, macrovector,
                            0melapics, freepik, GarryKillian, visnezh, denamorado, and Harryarts -
                            www.freepik.com</a><br>Vector
                            graphics and vector art by <a href="https://www.vecteezy.com">www.Vecteezy.com</a><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="id_footer" class="footer">
        <div class="footer-1"
             style="background-color: rgba(242,241,241,0.5);color: rgb(0,0,0);padding: 15px 0px 5px 0px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-8">
                        <p class="text-left" style="margin: 0px;"><a href="../base/home0.html"><img class="logo"
                                                                                                    src="{% static 'img/logo-no-text.png' %}"></a>
                        </p><img class="cards-img"
                                 src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppppcmcvdam.png"
                                 alt="Pay with PayPal, PayPal Credit or any major credit card."
                                 style="width: 50%;"></div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p class="text-right footer-text" id="footer-info" style="margin-bottom: 0px;"><a
                                href="{% url 'contact:form' %}">Contact Us</a> | <a href="{% url 'info:faq' %}">FAQ</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-2" style="padding: 5px 0px 5px 0px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p class="text-left footer-text" id="footer-legal" style="margin: 0px;"><a
                                href="{% url 'legal:privacy' %}">Privacy Stament</a> | <a
                                href="{% url 'legal:terms' %}">Terms of Service</a>&nbsp;| <a
                                href="{% url 'legal:credits' %}">Credits</a></p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-7">
                        <p class="text-right" id="footer-copyright" style="margin: 0px;">© 2019 VectorFlux. All Rights
                            Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'js.html' %}
    </body>
    </html>
{% endblock %}
{% extends 'base.html' %}
{% block body %}
    {% load static %}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>VectorFlux | Terms of Service</title>
        <meta name="description" content="VectorFlux Terms of Service. By using our services you agree to these terms.">
        {% include 'css.html' %}
    </head>
    <body style="background-image: url(&quot;{% static 'assets/img/background-credits.jpg' %}&quot;);background-size: contain;">
    <nav class="navbar navbar-default navbar-fixed-top"
         style="background-size: cover;background-image: url(&quot;{% static 'assets/img/navbar.jpg' %}&quot;);padding-top: 10px;padding-bottom: 10px;width: 100%;">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand" href="{% url 'home' %}"
                                          style="width: 82px;padding-right: 0px;margin-right: -15px;"><img
                    src="{% static 'assets/img/logo-no-text.png' %}" style="width: 130px;"></a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span
                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div
                    class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav" style="padding: 0px 40px;margin-top: 7px;margin-bottom: -20px;">
                    <li role="presentation"><a href="{% url 'home' %}"
                                               style="background: -webkit-linear-gradient(left, #ff9800, #ff9500, #ff4b00);color: transparent;-webkit-background-clip: text;font-size: 36px;font-weight: bold;letter-spacing: 2px;font-family: 'Titillium Web', sans-serif;padding-left: 0px;">VectorFlux</a>
                    </li>
                    <li
                            role="presentation"><a href="#"
                                                   style="padding-left: 0px;margin-left: -10px;margin-top: 10px;">Sound
                        Design</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="margin-right: 0px;">
                    <li role="presentation"><a href="{% url 'order:form' %}"
                                               style="font-family: 'Nanum Gothic', sans-serif;font-size: 24px;font-weight: bold;margin-top: 12px;margin-bottom: -12px;">Place
                        Order</a></li>
                    <li role="presentation"><a href="{% url 'info:services' %}"
                                               style="font-family: 'Nanum Gothic', sans-serif;font-size: 24px;font-weight: bold;margin-top: 12px;margin-bottom: -12px;">Services</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="article-clean" style="background-color: rgba(255,243,243,0.9);height: 100%;width: 100%;">
        <div class="container" style="height: 100%;width: 100%;">
            <div class="row" style="height: 100%;">
                <div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1" id="id_terms_text"
                     style="/*height: 100%;*/">
                    <div class="intro" style="height: 100%;"><img class="img-responsive"
                                                                  src="{% static 'assets/img/logo-no-text.png' %}"
                                                                  style="/*margin: auto;*/">
                        <h1 class="text-center article-title">Credits</h1>
                        <p class="text-center article-date">&nbsp; &nbsp;</p>
                    </div>
                    <div class="text" style="height: 100%;">
                        <h2 class="article-heading">Artwork<br></h2>
                        <p class="article-paragraph"><a href="https://www.freepik.com/free-photos-vectors/background">Background
                            photos, background vectors, banner vectors, business card vectors, pattern vectors, and
                            flower vectors created by rawpixel.com, starline, vilmosvarga, kotkoa, macrovector,
                            0melapics, freepik, GarryKillian, visnezh, denamorado, and Harryarts -
                            www.freepik.com</a><br>Vector
                            graphics and vector art by <a href="https://www.vecteezy.com">www.Vecteezy.com</a><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="id_footer"
         style="background-image: url(&quot;{% static 'assets/img/tesselation.jpg' %}&quot;);background-size: cover;background-position: center;">
        <div class="footer"
             style="background-color: rgba(242,241,241,0.9);color: rgb(0,0,0);padding-bottom: 15px;/*padding-top: 15px;*/">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-8">
                        <p class="text-left" style="margin-top:5%;margin-bottom:3%;"><a href="{% url 'home' %}"><img
                                src="{% static 'assets/img/logo-no-text.png' %}" class="logo-img"></a></p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p class="text-right footer"
                           style="margin-top: 5%;margin-bottom: 8%%;font-size: 1.25em;font-family: 'Nanum Gothic', sans-serif;">
                            <a href="{% url 'contact:form' %}">Contact Us</a> | <a href="{% url 'info:faq' %}">FAQ</a>
                        </p>
                    </div>
                    <div class="col-md-12 col-sm-11 col-xs-11"><img
                            src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppppcmcvdam.png"
                            alt="Pay with PayPal, PayPal Credit or any major credit card." class="cards-img"></div>
                </div>
            </div>
        </div>
        <div class="footer-2" style="background-color: rgba(200,200,200,0.9);color: rgb(255,255,255);">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p class="text-right footer-text"
                           style="margin-top: 5%;margin-bottom: 8%%;font-size: 1.25em;font-family: 'Nanum Gothic', sans-serif;">
                            <a href="{% url 'legal:privacy' %}">Privacy Stament</a> | <a href="{% url 'legal:terms' %}">Terms
                            of Service</a>&nbsp;| <a href="{% url 'legal:credits' %}">Credits</a></p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-7">
                        <p class="text-left"
                           style="margin-top: 5%;margin-bottom: 3%;font-family: 'Nanum Gothic', sans-serif;font-size: 1em;color: grey;">
                            © 2019 VectorFlux. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'css.html' %}
    </body>
    </html>
{% endblock %}
{% extends 'base.html' %}
{% block body %}
    {% load static %}
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>VectorFlux | Terms of Service</title>
        <meta name="description" content="VectorFlux Terms of Service. By using our services you agree to these terms.">
        {% include 'css.html' %}
    </head>
    <body style="background-image: url(&quot;{% static 'assets/img/background-credits.jpg' %}&quot;);background-size: contain;">
    <nav class="navbar navbar-default navbar-fixed-top"
         style="background-size: cover;background-image: url(&quot;{% static 'assets/img/navbar.jpg' %}&quot;);padding-top: 10px;padding-bottom: 10px;width: 100%;">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand" href="{% url 'home' %}"
                                          style="width: 82px;padding-right: 0px;margin-right: -15px;"><img
                    src="{% static 'assets/img/logo-no-text.png' %}" style="width: 130px;"></a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span
                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div
                    class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav" style="padding: 0px 40px;margin-top: 7px;margin-bottom: -20px;">
                    <li role="presentation"><a href="{% url 'home' %}"
                                               style="background: -webkit-linear-gradient(left, #ff9800, #ff9500, #ff4b00);color: transparent;-webkit-background-clip: text;font-size: 36px;font-weight: bold;letter-spacing: 2px;font-family: 'Titillium Web', sans-serif;padding-left: 0px;">VectorFlux</a>
                    </li>
                    <li
                            role="presentation"><a href="#"
                                                   style="padding-left: 0px;margin-left: -10px;margin-top: 10px;">Sound
                        Design</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="margin-right: 0px;">
                    <li role="presentation"><a href="{% url 'order:form' %}"
                                               style="font-family: 'Nanum Gothic', sans-serif;font-size: 24px;font-weight: bold;margin-top: 12px;margin-bottom: -12px;">Place
                        Order</a></li>
                    <li role="presentation"><a href="{% url 'info:services' %}"
                                               style="font-family: 'Nanum Gothic', sans-serif;font-size: 24px;font-weight: bold;margin-top: 12px;margin-bottom: -12px;">Services</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="article-clean" style="background-color: rgba(255,243,243,0.9);height: 100%;width: 100%;">
        <div class="container" style="height: 100%;width: 100%;">
            <div class="row" style="height: 100%;">
                <div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1" id="id_terms_text"
                     style="height: 100%;">
                    <div class="intro" style="height: 100%;"><img class="img-responsive"
                                                                  src="{% static 'assets/img/logo-no-text.png' %}"
                                                                  style="margin: auto;">
                        <h1 class="text-center article-title">Credits</h1>
                        <p class="text-center article-date">&nbsp; &nbsp;</p>
                    </div>
                    <div class="text" style="height: 100%;">
                        <h2 class="article-heading">Artwork<br></h2>
                        <p class="article-paragraph"><a href="https://www.freepik.com/free-photos-vectors/background">Background
                            photos, background vectors, banner vectors, business card vectors, pattern vectors, and
                            flower vectors created by rawpixel.com, starline, vilmosvarga, kotkoa, macrovector,
                            0melapics, freepik, GarryKillian, visnezh, denamorado, and Harryarts -
                            www.freepik.com</a><br>Vector
                            graphics and vector art by <a href="https://www.vecteezy.com">www.Vecteezy.com</a><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="id_footer"
         style="background-image: url(&quot;{% static 'assets/img/tesselation.jpg' %}&quot;);background-size: cover;background-position: center;">
        <div class="footer"
             style="background-color: rgba(242,241,241,0.9);color: rgb(0,0,0);padding-bottom: 15px;/*padding-top: 15px;*/">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-8">
                        <p class="text-left" style="margin-top:5%;margin-bottom:3%;"><a href="{% url 'home' %}"><img
                                src="{% static 'assets/img/logo-no-text.png' %}" class="logo-img"></a></p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p class="text-right footer"
                           style="margin-top: 5%;margin-bottom: 8%%;font-size: 1.25em;font-family: 'Nanum Gothic', sans-serif;">
                            <a href="{% url 'contact:form' %}">Contact Us</a> | <a href="{% url 'info:faq' %}">FAQ</a>
                        </p>
                    </div>
                    <div class="col-md-12 col-sm-11 col-xs-11"><img
                            src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppppcmcvdam.png"
                            alt="Pay with PayPal, PayPal Credit or any major credit card." class="cards-img"></div>
                </div>
            </div>
        </div>
        <div class="footer-2" style="background-color: rgba(200,200,200,0.9);color: rgb(255,255,255);">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p class="text-right footer-text"
                           style="margin-top: 5%;margin-bottom: 8%%;font-size: 1.25em;font-family: 'Nanum Gothic', sans-serif;">
                            <a href="{% url 'legal:privacy' %}">Privacy Stament</a> | <a href="{% url 'legal:terms' %}">Terms
                            of Service</a>&nbsp;| <a href="{% url 'legal:credits' %}">Credits</a></p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-7">
                        <p class="text-left"
                           style="margin-top: 5%;margin-bottom: 3%;font-family: 'Nanum Gothic', sans-serif;font-size: 1em;color: grey;">
                            © 2019 VectorFlux. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'js.html' %}
    </body>
    </html>
{% endblock %}
{% extends 'base.html' %}
{% block body %}
    {% load static %}
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>VectorFlux | Terms of Service</title>
        <meta name="description" content="VectorFlux Terms of Service. By using our services you agree to these terms.">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic">
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web">
        <link rel="stylesheet" href="{% static '/css/general/button.css' %}">
        <link rel="stylesheet" href="{% static '/css/general/color.css' %}">
        <link rel="stylesheet" href="{% static '/css/general/components.css' %}">
        <link rel="stylesheet" href="{% static '/css/general/form.css' %}">
        <link rel="stylesheet" href="{% static '/css/general/heading.css' %}">
        <link rel="stylesheet" href="{% static '/css/general/image.css' %}">
        <link rel="stylesheet" href="{% static '/css/general/link.css' %}">
        <link rel="stylesheet" href="{% static '/css/general/list.css' %}">
        <link rel="stylesheet" href="{% static '/css/general/misc.css' %}">
        <link rel="stylesheet" href="{% static '/css/general/navbar.css' %}">
        <link rel="stylesheet" href="{% static '/css/general/paragraph.css' %}">
        <link rel="stylesheet" href="{% static '/css/general/text.css' %}">
        <link rel="stylesheet" href="{% static '/css/home/home.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
        <link rel="stylesheet" href="{% static '/css/info/contact-us.css' %}">
        <link rel="stylesheet" href="{% static '/css/info/services.css' %}">
        <link rel="stylesheet" href="{% static '/css/legal/policy.css' %}">
        <link rel="stylesheet" href="{% static '/css/order/form/Drag--Drop-Upload-Form.css' %}">
        <link rel="stylesheet" href="{% static '/css/order/form/MUSA_form-wizard.css' %}">
        <link rel="stylesheet" href="{% static '/css/order/form/MUSA_form-wizard.css' %}">
        <link rel="stylesheet" href="{% static '/css/order/form/order-form.css' %}">
        <link rel="stylesheet" href="{% static '/css/playlist/music-widget.css' %}">
        <link rel="stylesheet" href="{% static '/css/playlist/player.css' %}">
        <link rel="stylesheet" href="{% static '/css/playlist/slider.css' %}">
        <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    </head>

    <body style="background-image: url(&quot;../assets/img/legal/credits/background-credits.jpg&quot;);background-size: contain;">
    <nav class="navbar navbar-default navbar-fixed-top"
         style="background-size: cover;background-image: url(&quot;{% static 'img/navbar.jpg' %}&quot;);padding-top: 10px;padding-bottom: 10px;width: 100%;">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand"
                                          style="width: 82px;padding-right: 0px;padding-left: 0px;margin-left: 0px;"
                                          href="{% url 'home' %}"><img class="logo"
                                                                       src="{% static 'img/logo-no-text.png' %}"></a>
                <button data-toggle="collapse" class="navbar-toggle collapsed" data-target="#navcol-1"><span
                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div
                    class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav"
                    style="padding: 0px 40px;margin-top: 7px;margin-bottom: -20px;margin-left: -30px;">
                    <li role="presentation"><a id="navbar-company-name" class="navbar-company-name"
                                               href="{% url 'home' %}"
                                               style="padding-right: 1.5rem;padding-bottom: 1rem;padding-top: 1rem;">VectorFlux</a>
                    </li>
                    <li role="presentation"><a
                            style="padding-left: 0px;margin-left: -10px;font-size: var(--navbar-subtitle-font-size);padding-top: calc(var(--navbar-name-font-size) - var(--navbar-subtitle-font-size));padding-bottom: 0px;padding-right: 0px;"
                            href="{% url 'home' %}">Sound Design</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="margin-right: 0px;">
                    <li role="presentation"><a class="navbar-link" href="{% url 'order:form' %}"
                                               style="margin-top: 1rem;">Place Order</a></li>
                    <li role="presentation"><a class="navbar-link" href="{% url 'info:services' %}"
                                               style="margin-top: 1rem;">Services</a></li>
                    <li role="presentation"><a class="navbar-link" href="{% url 'info:portfolio' %}">Portfolio</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="article-clean" style="background-color: rgba(255,243,243,0.9);height: 100%;width: 100%;">
        <div class="container" style="height: 100%;width: 100%;">
            <div class="row" style="height: 100%;">
                <div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1" id="id_terms_text"
                     style="height: 100%;">
                    <div class="intro" style="height: 100%;"><img class="img-responsive" style="margin: auto;"
                                                                  src="{% static 'img/logo-no-text.png' %}">
                        <h1 class="text-center primary-heading">Credits</h1>
                    </div>
                    <div class="text" style="height: 100%;">
                        <h2 class="secondary-heading">Artwork<br></h2>
                        <p class="secondary-paragraph"><a href="https://www.freepik.com/free-photos-vectors/background">Background
                            photos, background vectors, banner vectors, business card vectors, pattern vectors, and
                            flower vectors created by rawpixel.com, starline, vilmosvarga, kotkoa, macrovector,
                            0melapics, freepik, GarryKillian, visnezh, denamorado, and Harryarts -
                            www.freepik.com</a><br>Vector
                            graphics and vector art by <a href="https://www.vecteezy.com">www.Vecteezy.com</a><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="id_footer" class="footer">
        <div class="footer-1"
             style="background-color: rgba(242,241,241,0.5);color: rgb(0,0,0);padding: 15px 0px 5px 0px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-8">
                        <p class="text-left" style="margin: 0px;"><a href="home.html"><img class="logo"
                                                                                           src="{% static 'img/logo-no-text.png' %}"></a>
                        </p><img class="cards-img"
                                 src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppppcmcvdam.png"
                                 alt="Pay with PayPal, PayPal Credit or any major credit card."
                                 style="width: 50%;"></div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p class="text-right footer-text" id="footer-info" style="margin-bottom: 0px;"><a
                                href="{% url 'contact:form' %}">Contact Us</a> | <a href="{% url 'info:faq' %}">FAQ</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-2" style="padding: 5px 0px 5px 0px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p class="text-left footer-text" id="footer-legal" style="margin: 0px;"><a
                                href="{% url 'legal:privacy' %}">Privacy Stament</a> | <a
                                href="{% url 'legal:terms' %}">Terms of Service</a>&nbsp;| <a
                                href="{% url 'legal:credits' %}">Credits</a></p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-7">
                        <p class="text-right" id="footer-copyright" style="margin: 0px;">© 2019 VectorFlux. All Rights
                            Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{% static '/js/smart-forms.min.js' %}"></script>
    <script src="{% static '/js/bs-animation.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="{% static '/js/Music-Widget.js' %}"></script>
    <script src="{% static '/js/order/calculate-price.js' %}"></script>
    <script src="{% static '/js/order/coupon-display.js' %}"></script>
    <script src="{% static '/js/order/coupon-getters.js' %}"></script>
    <script src="{% static '/js/order/coupon-setters.js' %}"></script>
    <script src="{% static '/js/order/coupon.js' %}"></script>
    <script src="{% static '/js/order/validate.js' %}"></script>
    <script src="{% static '/js/playlisttest.js' %}"></script>
    </body>

    </html>

{% endblock %}