{% extends 'base.html' %}
{% block body %}
    {% load static %}
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>navbar</title>
        <link rel="stylesheet" href="{% static 'assets/bootstrap2/css/bootstrap2.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
        <link rel="stylesheet" href="{% static 'assets/css/Article-Clean.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/Article-List.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/footer.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/Header-Blue.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Clean.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/order-form.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/Team-Grid.css' %}">
    </head>

    <body>
    <div class="team-grid">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">YOUR MESSAGE HAS BEEN RECEIVED</h2>
                <p class="text-center">Your feedback is appreciated. Thank you!</p>
            </div>
            <div class="row people">
                <div class="col-md-3 col-sm-4 item">
                    <div class="box"
                         style="background-image: url(&quot;{% static 'assets/img/joel_filipe_6.jpg' %}&quot;);">
                        <div class="cover">
                            <h3 class="name">Mixing</h3>
                            <p class="title">LEARN MORE</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 item">
                    <div class="box"
                         style="background-image: url(&quot;{% static 'assets/img/joel_filipe_5.jpg' %}&quot;);">
                        <div class="cover">
                            <h3 class="name">Mastering</h3>
                            <p class="title">LEARN MORE</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 item">
                    <div class="box" style="background-image: url(&quot;{% static 'assets/img/lurm_0.jpg' %}&quot;);">
                        <div class="cover">
                            <h3 class="name">Noise Reduction</h3>
                            <p class="title">LEARN MORE</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 item">
                    <div class="box" style="background-image: url(&quot;{% static 'assets/img/lurm_1.jpg' %}&quot;);">
                        <div class="cover">
                            <h3 class="name">Performance Correction</h3>
                            <p class="title">LEARN MORE</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap2/js/bootstrap2.min.js' %}"></script>
    <script src="{% static 'assets/js/validate_order_form.js' %}"></script>
    </body>

    </html>

{% endblock %}

{% extends 'base.html' %}
{% block body %}
    {% load static %}
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>VectorFlux | Message Received</title>
        <meta name="description" content="We have received your message. Thank you!">
        <link rel="stylesheet" href="{% static 'assets/bootstrap2/css/bootstrap2.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic">
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web">
        <link rel="stylesheet" href="{% static 'assets/css/Article-Clean.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/footer.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/Header-Blue.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/home/Features-Boxed.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
        <link rel="stylesheet" href="{% static 'assets/css/info/contact-us/contact-us.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/info/contact-us/form.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/info/contact-us/Registration-Form-with-Photo.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/info/services/services-jumbotron.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/order/form/Drag--Drop-Upload-Form.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/order/form/MUSA_form-wizard-1.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/order/form/MUSA_form-wizard.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/order/form/order-form.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/playlist/Music-Widget-1.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/playlist/Music-Widget.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/playlist/playlisttest.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/playlist/slider.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    </head>

    <body>
    <nav class="navbar navbar-default navbar-fixed-top"
         style="background-size: cover;background-image: url(&quot;{% static 'assets/img/navbar.jpg' %}&quot;);padding-top: 10px;padding-bottom: 10px;width: 100%;">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand" href="{% url 'home' %}"
                                          style="width: 82px;padding-right: 0px;margin-right: -15px;"><img
                    src="{% static 'assets/img/logo-no-text.png' %}" style="width: 130px;"></a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span
                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div
                    class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav" style="padding: 0px 40px;margin-top: 7px;margin-bottom: -20px;">
                    <li role="presentation"><a href="{% url 'home' %}"
                                               style="background: -webkit-linear-gradient(left, #ff9800, #ff9500, #ff4b00);color: transparent;-webkit-background-clip: text;font-size: 36px;font-weight: bold;letter-spacing: 2px;font-family: 'Titillium Web', sans-serif;padding-left: 0px;">VectorFlux</a>
                    </li>
                    <li
                            role="presentation"><a href="#"
                                                   style="padding-left: 0px;margin-left: -10px;margin-top: 10px;">Sound
                        Design</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="margin-right: 0px;">
                    <li role="presentation"><a href="{% url 'order:form' %}"
                                               style="font-family: 'Nanum Gothic', sans-serif;font-size: 24px;font-weight: bold;margin-top: 12px;margin-bottom: -12px;">Place
                        Order</a></li>
                    <li role="presentation"><a href="{% url 'info:services' %}"
                                               style="font-family: 'Nanum Gothic', sans-serif;font-size: 24px;font-weight: bold;margin-top: 12px;margin-bottom: -12px;">Services</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="team-grid">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">YOUR MESSAGE HAS BEEN RECEIVED</h2>
                <p class="text-center">Your feedback is appreciated. Thank you!</p>
            </div>
            <div class="row people">
                <div class="col-md-3 col-sm-4 item">
                    <div class="box" style="background-image: url(&quot;joel_filipe_6.jpg&quot;);">
                        <div class="cover">
                            <h3 class="name">Mixing</h3>
                            <p class="title">LEARN MORE</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 item">
                    <div class="box" style="background-image: url(&quot;joel_filipe_5.jpg&quot;);">
                        <div class="cover">
                            <h3 class="name">Mastering</h3>
                            <p class="title">LEARN MORE</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 item">
                    <div class="box" style="background-image: url(&quot;lurm_0.jpg&quot;);">
                        <div class="cover">
                            <h3 class="name">Noise Reduction</h3>
                            <p class="title">LEARN MORE</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 item">
                    <div class="box" style="background-image: url(&quot;lurm_1.jpg&quot;);">
                        <div class="cover">
                            <h3 class="name">Performance Correction</h3>
                            <p class="title">LEARN MORE</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="id_footer"
         style="background-image: url(&quot;{% static 'assets/img/tesselation.jpg' %}&quot;);background-size: cover;background-position: center;">
        <div class="footer"
             style="background-color: rgba(242,241,241,0.9);color: rgb(0,0,0);padding-bottom: 15px;/*padding-top: 15px;*/">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-8">
                        <p class="text-left" style="margin-top:5%;margin-bottom:3%;"><a href="{% url 'home' %}"><img
                                src="{% static 'assets/img/logo-no-text.png' %}" class="logo-img"></a></p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p class="text-right footer"
                           style="margin-top: 5%;margin-bottom: 8%%;font-size: 1.25em;font-family: 'Nanum Gothic', sans-serif;">
                            <a href="{% url 'contact:form' %}">Contact Us</a> | <a href="{% url 'info:faq' %}">FAQ</a>
                        </p>
                    </div>
                    <div class="col-md-12 col-sm-11 col-xs-11"><img
                            src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppppcmcvdam.png"
                            alt="Pay with PayPal, PayPal Credit or any major credit card." class="cards-img"></div>
                </div>
            </div>
        </div>
        <div class="footer-2" style="background-color: rgba(200,200,200,0.9);color: rgb(255,255,255);">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p class="text-right footer-text"
                           style="margin-top: 5%;margin-bottom: 8%%;font-size: 1.25em;font-family: 'Nanum Gothic', sans-serif;">
                            <a href="{% url 'legal:privacy' %}">Privacy Stament</a> | <a href="{% url 'legal:terms' %}">Terms
                            of Service</a>&nbsp;| <a href="{% url 'legal:credits' %}">Credits</a></p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-7">
                        <p class="text-left"
                           style="margin-top: 5%;margin-bottom: 3%;font-family: 'Nanum Gothic', sans-serif;font-size: 1em;color: grey;">
                            © 2019 VectorFlux. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap2/js/bootstrap2.min.js' %}"></script>
    <script src="{% static 'assets/js/smart-forms.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-animation.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="{% static 'assets/js/MUSA_form-wizard.js' %}"></script>
    <script src="{% static 'assets/js/Music-Widget.js' %}"></script>
    <script src="{% static 'assets/js/order/calculate-price.js' %}"></script>
    <script src="{% static 'assets/js/order/coupon-display.js' %}"></script>
    <script src="{% static 'assets/js/order/coupon-getters.js' %}"></script>
    <script src="{% static 'assets/js/order/coupon-setters.js' %}"></script>
    <script src="{% static 'assets/js/order/coupon.js' %}"></script>
    <script src="{% static 'assets/js/order/validate.js' %}"></script>
    <script src="{% static 'assets/js/PHP-Contact-Form-dark.js' %}"></script>
    <script src="{% static 'assets/js/PHP-Contact-Form-dark.js' %}"></script>
    <script src="{% static 'assets/js/playlisttest.js' %}"></script>
    <script src="{% static 'assets/js/Simple-Slider.js' %}"></script>
    </body>

    </html>

{% endblock %}