<!-- Start: navbar -->
<div>
    <nav class="navbar navbar-light navbar-expand-md ts-navbar" id="dashboard-navbar">
        <div class="container-fluid"><a class="navbar-brand" href="#">tensorstone</a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-2"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="nav navbar-nav">
                    <li class="nav-item text-center" id="dashboard-name">
                        <p>{{ dashboardName }} Dashboard</p>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div><!-- End: navbar -->
