{{ insertAppModal |safe }}
<div>
    <nav class="navbar navbar-light navbar-expand-md" style="height: 5vh;">
        <div class="container-fluid">
            <a class="navbar-brand"
               onclick="">
                tensorstone
            </a>
            <button data-toggle="collapse"
                    class="navbar-toggler"
                    data-target="#navcol-2">
                <span class="sr-only">
                    Toggle navigation
                </span>
                <span class="navbar-toggler-icon">
            </span>
            </button>
            <div class="collapse navbar-collapse"
                 id="navcol-2">
                {{ name }} Dashboard
            </div>
            <div>
                <a class="btn btn-primary ml-auto"
                   role="button"
                   onclick="">
                    Sign In
                </a>
            </div>
        </div>
    </nav>
</div>


