<div class="overlay"></div>
<div id="sidebar">
    <div class="sidebar-header">
        <div id="close-sidebar">
{#            <i class="glyphicon glyphicon-chevron-left">#}
{#            </i>#}
            <span id="sidebar-x-btn">
                X
            </span>
        </div>
        <h6 id="sidebar_header">
            {{ header |safe }}
        </h6>
        <div id="sidebar_navbar">
            {{ navbar | safe }}
        </div>
    </div>
    <form>
        <div id="sidebar_body">
            {{ body |safe }}
        </div>
    </form>
</div>

