<!-- Start: sidebars -->
<div>
    <div id="ts-sidebar-left" class="ts-sidebar sidebar">
        <!-- Start: header -->
        <div id="ts-sidebar-heading-left" class="sidebar-header">
            <h2 class="sidebar-heading">{{ sidebarLeftTitle }}</h2>
        </div><!-- End: header -->
        <hr>
        <div id="ts-sidebar-left-upper"
             class='ts-sidebar-panel'>

        </div>
        <hr>
        <div id="ts-sidebar-left-lower"
             class='ts-sidebar-panel'>

        </div>
        <hr>
    </div>
    <div id="ts-sidebar-right" class="ts-sidebar">
        <!-- Start: header -->
        <div id="ts-sidebar-heading-right" class="sidebar-header">
            <h2 class="sidebar-heading">{{ sidebarRightTitle }}</h2>
        </div><!-- End: header -->
        <hr>
        <div id="ts-sidebar-right-upper"
             class='ts-sidebar-panel'>

        </div>
        <hr>
        <div id="ts-sidebar-right-lower"
             class='ts-sidebar-panel'>
        </div>
        <hr>
    </div>
</div><!-- End: sidebars -->
