{% extends 'template/base/general/base.html' %}
{% load static %}
{% block body %}
    <!-- Start: body-reset-password -->
    <div class="login-clean">
        <form method="post">
            <!-- Start: heading -->
            <section style="padding: 2px;margin: 11px;">
                <h2 class="text-uppercase text-center form-heading">Password Reset</h2>
            </section>
            <!-- End: heading -->
            <!-- Start: logo -->
            <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
            <!-- End: logo -->
            <!-- Start: new-password-input -->
            <div class="form-group"><input class="form-control" type="password" name="password"
                                           placeholder="New Password"></div>
            <!-- End: new-password-input -->
            <!-- Start: confirm-password-input -->
            <div class="form-group"><input class="form-control" type="password" name="password"
                                           placeholder="Confirm Password"></div>
            <!-- End: confirm-password-input -->
            <!-- Start: submit-button -->
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Submit</button>
            </div>
            <!-- End: submit-button -->
        </form>
    </div>
    <!-- End: body-reset-password -->
{% endblock %}