{% extends 'template/base/general/base.html' %}
{% load static %}
{% block body %}
    <!-- Start: body-reset-password-request -->
    <div class="login-clean">
        <form method="post">
            <!-- Start: heading -->
            <section style="padding: 2px;margin: 11px;">
                <h2 class="text-uppercase text-center form-heading">Request Password Reset</h2>
            </section>
            <!-- End: heading -->
            <!-- Start: logo -->
            <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
            <!-- End: logo -->
            <!-- Start: email-input -->
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <!-- End: email-input -->
            <!-- Start: submit-button -->
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Send Email</button>
            </div>
            <!-- End: submit-button -->
            <p style="font-size: 9pt;">A link to reset your password will be sent to the email entered above.</p>
        </form>
    </div>
    <!-- End: body-reset-password-request -->
{% endblock %}