{% load static %}
<!--script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script-->
<script>
    $(function () {
        $(".datepicker").datepicker({
            minDate: "+7",
            maxDate: "+6M",
//showOn: "button",
            hideIfNoPrevNext: true,
        });
    });
</script>
</script>
<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
<script type="text/javascript">
    $(function () {
        var currentTime = new Date();
        var year = currentTime.getFullYear();
        var month = currentTime.getMonth() + 1;
        $(".datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            monthRange: month + ":" + 11,
            yearRange: year + ":" + (year + 1),
// You can put more options here.
        });
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js">
</script>
<script
        src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
</script>
<script
        src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
        integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
        crossorigin="anonymous">
</script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/smart-forms.min.js"></script>
<script src="/js/bs-animation.js"></script>
<script src="/js/MUSA_form-wizard.js"></script>
<script src="/js/Music-Widget.js"></script>
<script src="/js/order/calculate-price.js"></script>
<script src="/js/order/coupon-display.js"></script>
<script src="/js/order/coupon-getters.js"></script>
<script src="/js/order/coupon-setters.js"></script>
<script src="/js/order/coupon.js"></script>
<script src="/js/order/validate.js"></script>
<script src="/js/PHP-Contact-Form-dark-1.js"></script>
<script src="/js/PHP-Contact-Form-dark.js"></script>
<script src="/js/playlisttest.js"></script>
<script src="/js/Simple-Slider.js"></script>
<script src="{% static 'assets/bootstrap2/js/bootstrap2.min.js' %}"></script>
<script src="{% static 'assets/bootstrap2/js/bootstrap2.min.js' %}"></script>
<script src="{% static 'assets/bootstrap2/js/bootstrap2.min.js' %}"></script>
<script src="{% static 'assets/bootstrap2/js/bootstrap2.min.js' %}"></script>
<script src="{% static 'assets/bootstrap2/js/bootstrap2.min.js' %}"></script>
<script src="{% static 'assets/bootstrap2/js/bootstrap2.min.js' %}"></script>
<script src="{% static 'assets/bootstrap2/js/bootstrap2.min.js' %}"></script>
<script src="{% static 'assets/bootstrap2/js/bootstrap2.min.js' %}"></script>
<script src="{% static 'assets/bootstrap2/js/bootstrap2.min.js' %}"></script>
<script src="{% static 'assets/bootstrap2/js/bootstrap2.min.js' %}"></script>
<script src="{% static 'assets/bootstrap2/js/bootstrap2.min.js' %}"></script>
<script src="{% static 'assets/bootstrap2/js/bootstrap2.min.js' %}"></script>
<script src="{% static 'assets/bootstrap2/js/bootstrap2.min.js' %}"></script>
<script src="{% static 'assets/bootstrap2/js/bootstrap2.min.js' %}"></script>
<script src="{% static '/js/bs-animation.js' %}"></script>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/order/calculate-price.js' %}"></script>
<script src="{% static '/js/order/calculate-price.js' %}"></script>
<script src="{% static '/js/order/coupon-display.js' %}"></script>
<script src="{% static '/js/order/coupon-getters.js' %}"></script>
<script src="{% static '/js/order/coupon-setters.js' %}"></script>
<script src="{% static '/js/order/calculate-price.js' %}"></script>
<script src="{% static '/js/order/coupon.js' %}"></script>
<script src="{% static '/js/order/validate.js' %}"></script>
<script src="{% static '/js/order/coupon.js' %}"></script>
<script src="{% static '/js/order/coupon.js' %}"></script>
<script src="{% static '/js/order/validate.js' %}"></script>
<script src="{% static '/js/validate_order_form.js' %}"></script>
<script src="{% static '/js/MUSA_form-wizard.js' %}"></script>
<script src="{% static '/js/Music-Widget.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/Simple-Slider.js' %}"></script>
<script src="{% static '/js/smart-forms.min.js' %}"></script>
<script src="{% static '/js/playlisttest.js' %}"></script>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/smart-forms.min.js' %}"></script>
<script src="{% static '/js/bs-animation.js' %}"></script>
<script src="{% static '/js/MUSA_form-wizard.js' %}"></script>
<script src="{% static '/js/Music-Widget.js' %}"></script>
<script src="{% static '/js/order/calculate-price.js' %}"></script>
<script src="{% static '/js/order/coupon-display.js' %}"></script>
<script src="{% static '/js/order/coupon-getters.js' %}"></script>
<script src="{% static '/js/order/coupon-setters.js' %}"></script>
<script src="{% static '/js/order/coupon.js' %}"></script>
<script src="{% static '/js/order/validate.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/playlisttest.js' %}"></script>
<script src="{% static '/js/Simple-Slider.js' %}"></script>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/smart-forms.min.js' %}"></script>
<script src="{% static '/js/bs-animation.js' %}"></script>
<script src="{% static '/js/MUSA_form-wizard.js' %}"></script>
<script src="{% static '/js/Music-Widget.js' %}"></script>
<script src="{% static '/js/order/calculate-price.js' %}"></script>
<script src="{% static '/js/order/coupon-display.js' %}"></script>
<script src="{% static '/js/order/coupon-getters.js' %}"></script>
<script src="{% static '/js/order/coupon-setters.js' %}"></script>
<script src="{% static '/js/order/coupon.js' %}"></script>
<script src="{% static '/js/order/validate.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/playlisttest.js' %}"></script>
<script src="{% static '/js/Simple-Slider.js' %}"></script>
<script src="{% static '/js/smart-forms.min.js' %}"></script>
<script src="{% static '/js/bs-animation.js' %}"></script>
<script src="{% static '/js/Music-Widget.js' %}"></script>
<script src="{% static '/js/order/calculate-price.js' %}"></script>
<script src="{% static '/js/order/coupon-display.js' %}"></script>
<script src="{% static '/js/order/coupon-getters.js' %}"></script>
<script src="{% static '/js/order/coupon-setters.js' %}"></script>
<script src="{% static '/js/order/coupon.js' %}"></script>
<script src="{% static '/js/order/validate.js' %}"></script>
<script src="{% static '/js/playlisttest.js' %}"></script>
<script src="{% static '/js/smart-forms.min.js' %}"></script>
<script src="{% static '/js/bs-animation.js' %}"></script>
<script src="{% static '/js/Music-Widget.js' %}"></script>
<script src="{% static '/js/order/calculate-price.js' %}"></script>
<script src="{% static '/js/order/coupon-display.js' %}"></script>
<script src="{% static '/js/order/coupon-getters.js' %}"></script>
<script src="{% static '/js/order/coupon-setters.js' %}"></script>
<script src="{% static '/js/order/coupon.js' %}"></script>
<script src="{% static '/js/order/validate.js' %}"></script>
<script src="{% static '/js/playlisttest.js' %}"></script>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/smart-forms.min.js' %}"></script>
<script src="{% static '/js/bs-animation.js' %}"></script>
<script src="{% static '/js/MUSA_form-wizard.js' %}"></script>
<script src="{% static '/js/Music-Widget.js' %}"></script>
<script src="{% static '/js/order/calculate-price.js' %}"></script>
<script src="{% static '/js/order/coupon-display.js' %}"></script>
<script src="{% static '/js/order/coupon-getters.js' %}"></script>
<script src="{% static '/js/order/coupon-setters.js' %}"></script>
<script src="{% static '/js/order/coupon.js' %}"></script>
<script src="{% static '/js/order/validate.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/playlisttest.js' %}"></script>
<script src="{% static '/js/Simple-Slider.js' %}"></script>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/smart-forms.min.js' %}"></script>
<script src="{% static '/js/bs-animation.js' %}"></script>
<script src="{% static '/js/MUSA_form-wizard.js' %}"></script>
<script src="{% static '/js/Music-Widget.js' %}"></script>
<script src="{% static '/js/order/calculate-price.js' %}"></script>
<script src="{% static '/js/order/coupon-display.js' %}"></script>
<script src="{% static '/js/order/coupon-getters.js' %}"></script>
<script src="{% static '/js/order/coupon-setters.js' %}"></script>
<script src="{% static '/js/order/coupon.js' %}"></script>
<script src="{% static '/js/order/validate.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/playlisttest.js' %}"></script>
<script src="{% static '/js/Simple-Slider.js' %}"></script>
<script src="{% static '/js/smart-forms.min.js' %}"></script>
<script src="{% static '/js/bs-animation.js' %}"></script>
<script src="{% static '/js/Music-Widget.js' %}"></script>
<script src="{% static '/js/order/calculate-price.js' %}"></script>
<script src="{% static '/js/order/coupon-display.js' %}"></script>
<script src="{% static '/js/order/coupon-getters.js' %}"></script>
<script src="{% static '/js/order/coupon-setters.js' %}"></script>
<script src="{% static '/js/order/coupon.js' %}"></script>
<script src="{% static '/js/order/validate.js' %}"></script>
<script src="{% static '/js/playlisttest.js' %}"></script>
<script src="{% static '/js/smart-forms.min.js' %}"></script>
<script src="{% static '/js/bs-animation.js' %}"></script>
<script src="{% static '/js/Music-Widget.js' %}"></script>
<script src="{% static '/js/order/calculate-price.js' %}"></script>
<script src="{% static '/js/order/coupon-display.js' %}"></script>
<script src="{% static '/js/order/coupon-getters.js' %}"></script>
<script src="{% static '/js/order/coupon-setters.js' %}"></script>
<script src="{% static '/js/order/coupon.js' %}"></script>
<script src="{% static '/js/order/validate.js' %}"></script>
<script src="{% static '/js/playlisttest.js' %}"></script>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/smart-forms.min.js' %}"></script>
<script src="{% static '/js/bs-animation.js' %}"></script>
<script src="{% static '/js/MUSA_form-wizard.js' %}"></script>
<script src="{% static '/js/Music-Widget.js' %}"></script>
<script src="{% static '/js/order/calculate-price.js' %}"></script>
<script src="{% static '/js/order/coupon-display.js' %}"></script>
<script src="{% static '/js/order/coupon-getters.js' %}"></script>
<script src="{% static '/js/order/coupon-setters.js' %}"></script>
<script src="{% static '/js/order/coupon.js' %}"></script>
<script src="{% static '/js/order/validate.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/playlisttest.js' %}"></script>
<script src="{% static '/js/Simple-Slider.js' %}"></script>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/smart-forms.min.js' %}"></script>
<script src="{% static '/js/bs-animation.js' %}"></script>
<script src="{% static '/js/MUSA_form-wizard.js' %}"></script>
<script src="{% static '/js/Music-Widget.js' %}"></script>
<script src="{% static '/js/order/calculate-price.js' %}"></script>
<script src="{% static '/js/order/coupon-display.js' %}"></script>
<script src="{% static '/js/order/coupon-getters.js' %}"></script>
<script src="{% static '/js/order/coupon-setters.js' %}"></script>
<script src="{% static '/js/order/coupon.js' %}"></script>
<script src="{% static '/js/order/validate.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/playlisttest.js' %}"></script>
<script src="{% static '/js/Simple-Slider.js' %}"></script>
<script src="{% static '/js/smart-forms.min.js' %}"></script>
<script src="{% static '/js/bs-animation.js' %}"></script>
<script src="{% static '/js/Music-Widget.js' %}"></script>
<script src="{% static '/js/order/calculate-price.js' %}"></script>
<script src="{% static '/js/order/coupon-display.js' %}"></script>
<script src="{% static '/js/order/coupon-getters.js' %}"></script>
<script src="{% static '/js/order/coupon-setters.js' %}"></script>
<script src="{% static '/js/order/coupon.js' %}"></script>
<script src="{% static '/js/order/validate.js' %}"></script>
<script src="{% static '/js/playlisttest.js' %}"></script>
<script src="{% static '/js/smart-forms.min.js' %}"></script>
<script src="{% static '/js/bs-animation.js' %}"></script>
<script src="{% static '/js/Music-Widget.js' %}"></script>
<script src="{% static '/js/order/calculate-price.js' %}"></script>
<script src="{% static '/js/order/coupon-display.js' %}"></script>
<script src="{% static '/js/order/coupon-getters.js' %}"></script>
<script src="{% static '/js/order/coupon-setters.js' %}"></script>
<script src="{% static '/js/order/coupon.js' %}"></script>
<script src="{% static '/js/order/validate.js' %}"></script>
<script src="{% static '/js/playlisttest.js' %}"></script>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/smart-forms.min.js' %}"></script>
<script src="{% static '/js/bs-animation.js' %}"></script>
<script src="{% static '/js/MUSA_form-wizard.js' %}"></script>
<script src="{% static '/js/Music-Widget.js' %}"></script>
<script src="{% static '/js/order/calculate-price.js' %}"></script>
<script src="{% static '/js/order/coupon-display.js' %}"></script>
<script src="{% static '/js/order/coupon-getters.js' %}"></script>
<script src="{% static '/js/order/coupon-setters.js' %}"></script>
<script src="{% static '/js/order/coupon.js' %}"></script>
<script src="{% static '/js/order/validate.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/playlisttest.js' %}"></script>
<script src="{% static '/js/Simple-Slider.js' %}"></script>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/smart-forms.min.js' %}"></script>
<script src="{% static '/js/bs-animation.js' %}"></script>
<script src="{% static '/js/MUSA_form-wizard.js' %}"></script>
<script src="{% static '/js/Music-Widget.js' %}"></script>
<script src="{% static '/js/order/calculate-price.js' %}"></script>
<script src="{% static '/js/order/coupon-display.js' %}"></script>
<script src="{% static '/js/order/coupon-getters.js' %}"></script>
<script src="{% static '/js/order/coupon-setters.js' %}"></script>
<script src="{% static '/js/order/coupon.js' %}"></script>
<script src="{% static '/js/order/validate.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/playlisttest.js' %}"></script>
<script src="{% static '/js/Simple-Slider.js' %}"></script>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/smart-forms.min.js' %}"></script>
<script src="{% static '/js/bs-animation.js' %}"></script>
<script src="{% static '/js/MUSA_form-wizard.js' %}"></script>
<script src="{% static '/js/Music-Widget.js' %}"></script>
<script src="{% static '/js/order/calculate-price.js' %}"></script>
<script src="{% static '/js/order/coupon-display.js' %}"></script>
<script src="{% static '/js/order/coupon-getters.js' %}"></script>
<script src="{% static '/js/order/coupon-setters.js' %}"></script>
<script src="{% static '/js/order/coupon.js' %}"></script>
<script src="{% static '/js/order/validate.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/playlisttest.js' %}"></script>
<script src="{% static '/js/Simple-Slider.js' %}"></script>
<script src="{% static '/js/validate_order_form.js' %}"></script>
<script src="{% static '/js/validate_order_form.js' %}"></script>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/smart-forms.min.js' %}"></script>
<script src="{% static '/js/bs-animation.js' %}"></script>
<script src="{% static '/js/MUSA_form-wizard.js' %}"></script>
<script src="{% static '/js/Music-Widget.js' %}"></script>
<script src="{% static '/js/order/calculate-price.js' %}"></script>
<script src="{% static '/js/order/coupon-display.js' %}"></script>
<script src="{% static '/js/order/coupon-getters.js' %}"></script>
<script src="{% static '/js/order/coupon-setters.js' %}"></script>
<script src="{% static '/js/order/coupon.js' %}"></script>
<script src="{% static '/js/order/validate.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/playlisttest.js' %}"></script>
<script src="{% static '/js/Simple-Slider.js' %}"></script>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/smart-forms.min.js' %}"></script>
<script src="{% static '/js/bs-animation.js' %}"></script>
<script src="{% static '/js/MUSA_form-wizard.js' %}"></script>
<script src="{% static '/js/Music-Widget.js' %}"></script>
<script src="{% static '/js/order/calculate-price.js' %}"></script>
<script src="{% static '/js/order/coupon-display.js' %}"></script>
<script src="{% static '/js/order/coupon-getters.js' %}"></script>
<script src="{% static '/js/order/coupon-setters.js' %}"></script>
<script src="{% static '/js/order/coupon.js' %}"></script>
<script src="{% static '/js/order/validate.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/playlisttest.js' %}"></script>
<script src="{% static '/js/Simple-Slider.js' %}"></script>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/smart-forms.min.js' %}"></script>
<script src="{% static '/js/bs-animation.js' %}"></script>
<script src="{% static '/js/MUSA_form-wizard.js' %}"></script>
<script src="{% static '/js/Music-Widget.js' %}"></script>
<script src="{% static '/js/order/calculate-price.js' %}"></script>
<script src="{% static '/js/order/coupon-display.js' %}"></script>
<script src="{% static '/js/order/coupon-getters.js' %}"></script>
<script src="{% static '/js/order/coupon-setters.js' %}"></script>
<script src="{% static '/js/order/coupon.js' %}"></script>
<script src="{% static '/js/order/validate.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/playlisttest.js' %}"></script>
<script src="{% static '/js/Simple-Slider.js' %}"></script>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/smart-forms.min.js' %}"></script>
<script src="{% static '/js/bs-animation.js' %}"></script>
<script src="{% static '/js/MUSA_form-wizard.js' %}"></script>
<script src="{% static '/js/Music-Widget.js' %}"></script>
<script src="{% static '/js/order/calculate-price.js' %}"></script>
<script src="{% static '/js/order/coupon-display.js' %}"></script>
<script src="{% static '/js/order/coupon-getters.js' %}"></script>
<script src="{% static '/js/order/coupon-setters.js' %}"></script>
<script src="{% static '/js/order/coupon.js' %}"></script>
<script src="{% static '/js/order/validate.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/PHP-Contact-Form-dark.js' %}"></script>
<script src="{% static '/js/playlisttest.js' %}"></script>
<script src="{% static '/js/Simple-Slider.js' %}"></script>





