{% extends 'base.html' %}
{% block body %}
    {% load static %}
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>VectorFlux</title>
        <meta name="description" content="Step Into The Manifold">
        {% include 'css.html' %}
    </head>
    <body>
    <nav class="navbar navbar-default navbar-fixed-top"
         style="background-size: cover;background-image: url(&quot;{% static 'img/navbar.jpg' %}&quot;);padding-top: 10px;padding-bottom: 10px;width: 100%;">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand"
                                          style="width: 82px;padding-right: 0px;padding-left: 0px;margin-left: 0px;"
                                          href="{% url 'home' %}"><img class="logo"
                                                                       src="{% static 'img/logo-no-text.png' %}"></a>
                <button data-toggle="collapse" class="navbar-toggle collapsed" data-target="#navcol-1"><span
                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div
                    class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav"
                    style="padding: 0px 40px;margin-top: 7px;margin-bottom: -20px;margin-left: -30px;">
                    <li role="presentation"><a id="navbar-company-name" class="navbar-company-name"
                                               href="{% url 'home' %}"
                                               style="padding-right: 1.5rem;padding-bottom: 1rem;padding-top: 1rem;">VectorFlux</a>
                    </li>
                    <li role="presentation"><a
                            style="padding-left: 0px;margin-left: -10px;font-size: var(--navbar-subtitle-font-size);padding-top: calc(var(--navbar-name-font-size) - var(--navbar-subtitle-font-size));padding-bottom: 0px;padding-right: 0px;"
                            href="{% url 'home' %}">Sound Design</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="margin-right: 0px;">
                    <li role="presentation"><a class="navbar-link" href="{% url 'order:form' %}"
                                               style="margin-top: 1rem;">Place Order</a></li>
                    <li role="presentation"><a class="navbar-link" href="{% url 'info:services' %}"
                                               style="margin-top: 1rem;">Services</a></li>
                    <li role="presentation"><a class="navbar-link" href="{% url 'info:portfolio' %}">Portfolio</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% include 'js.html' %}
    </body>

    </html>
{% endblock %}



{% extends 'base.html' %}
{% block body %}
    {% load static %}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>VectorFlux</title>
        <meta name="description" content="Step Into The Manifold">
    </head>
    <body>
    <nav class="navbar navbar-default navbar-fixed-top"
         style="background-size: cover;background-image: url(&quot;{% static 'img/navbar.jpg' %}&quot;);padding-top: 10px;padding-bottom: 10px;width: 100%;">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand"
                                          style="width: 82px;padding-right: 0px;padding-left: 0px;margin-left: 0px;"
                                          href="{% url 'home' %}"><img class="logo"
                                                                       src="{% static 'img/logo-no-text.png' %}"></a>
                <button data-toggle="collapse" class="navbar-toggle collapsed" data-target="#navcol-1"><span
                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div
                    class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav"
                    style="padding: 0px 40px;margin-top: 7px;margin-bottom: -20px;margin-left: -30px;">
                    <li role="presentation"><a id="navbar-company-name" class="navbar-company-name"
                                               href="{% url 'home' %}"
                                               style="padding-right: 1.5rem;padding-bottom: 1rem;padding-top: 1rem;">VectorFlux</a>
                    </li>
                    <li role="presentation"><a
                            style="padding-left: 0px;margin-left: -10px;font-size: var(--navbar-subtitle-font-size);padding-top: calc(var(--navbar-name-font-size) - var(--navbar-subtitle-font-size));padding-bottom: 0px;padding-right: 0px;"
                            href="{% url 'home' %}">Sound Design</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="margin-right: 0px;">
                    <li role="presentation"><a class="navbar-link" href="{% url 'order:form' %}"
                                               style="margin-top: 1rem;">Place Order</a></li>
                    <li role="presentation"><a class="navbar-link" href="{% url 'info:services' %}"
                                               style="margin-top: 1rem;">Services</a></li>
                    <li role="presentation"><a class="navbar-link" href="{% url 'info:portfolio' %}">Portfolio</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% include 'js.html' %}
    </body>
    </html>
{% endblock %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>navbar</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <style>
        body {
            margin: 0;
        }

        .navbar {
            overflow: hidden;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 9999;
        }

        .navbar a {
            float: left;
            display: block;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .navbar a:hover {
            background: #ddd;
            color: white;
        }

        body {
            margin-top: 30px;
            padding: 30px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" href="{% url 'home' %}">Vectorflux</a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span
                    class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
                    class="icon-bar"></span></button>
        </div>
        <div
                class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="active" role="presentation"><a href="{% url 'order:order' %}">Place Order</a></li>
                <li role="presentation"><a href="{% url 'info:contact-us' %}">Contact Us</a></li>
                <li role="presentation"><a href="{% url 'info:services' %}">Services</a></li>
            </ul>
        </div>
    </div>
</nav>
{% include 'js.html' %}
</body>
</html>
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% include 'css.html' %}
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top"
     style="background-size: cover;background-image: url(&quot;{% static 'assets/img/navbar.jpg' %}&quot;);padding-top: 10px;padding-bottom: 10px;width: 100%;">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" href="{% url 'home' %}"
                                      style="width: 82px;padding-right: 0px;margin-right: -15px;"><img
                src="{% static 'assets/img/logo-no-text.png' %}" style="width: 130px;"></a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span
                    class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
                    class="icon-bar"></span></button>
        </div>
        <div
                class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav" style="padding: 0px 40px;margin-top: 7px;margin-bottom: -20px;">
                <li role="presentation"><a href="{% url 'home' %}"
                                           style="background: -webkit-linear-gradient(left, #ff9800, #ff9500, #ff4b00);color: transparent;-webkit-background-clip: text;font-size: 36px;font-weight: bold;letter-spacing: 2px;font-family: 'Titillium Web', sans-serif;padding-left: 0px;">VectorFlux</a>
                </li>
                <li
                        role="presentation"><a href="#" style="padding-left: 0px;margin-left: -10px;margin-top: 10px;">Sound
                    Design</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right: 0px;">
                <li role="presentation"><a href="{% url 'order:form' %}"
                                           style="font-family: 'Nanum Gothic', sans-serif;font-size: 24px;font-weight: bold;margin-top: 12px;margin-bottom: -12px;">Place
                    Order</a></li>
                <li role="presentation"><a href="{% url 'info:services' %}"
                                           style="font-family: 'Nanum Gothic', sans-serif;font-size: 24px;font-weight: bold;margin-top: 12px;margin-bottom: -12px;">Services</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% include 'js.html' %}
</body>
</html>
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>navbar</title>
    {% include 'css.html' %}
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" style="background-color: rgb(242,241,241);">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" href="{% url 'home' %}" style="width: 82px;"><img
                src="{% static 'assets/img/logo-black-text.png' %}"></a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span
                    class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
                    class="icon-bar"></span></button>
        </div>
        <div
                class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="active" role="presentation"><a href="{% url 'order:service-selection' %}">Place Order</a>
                </li>
                <li role="presentation"><a href="{% url 'info:services' %}">Services</a></li>
            </ul>
        </div>
    </div>
</nav>
{% include 'js.html' %}
</body>
</html>
