{% load static %}
{# ts app #}
<script src="{% static 'js/app/ts-data-node.js' %}"></script>
<script src="{% static 'js/app/ts-gradation.js' %}"></script>
<script src="{% static 'js/app/ts-math-node.js' %}"></script>
<script src="{% static 'js/app/ts-ml.js' %}"></script>
<script src="{% static 'js/app/ts-ml-node.js' %}"></script>
<script src="{% static 'js/app/ts-node.js' %}"></script>
<script src="{% static 'js/app/ts-plot.js' %}"></script>
<script src="{% static 'js/app/ts-plot-node.js' %}"></script>
